<%- include('./header.ejs') -%>
<body>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12 m-auto">
        <table class="table table-striped table-hover">
          <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Phone</th>
            <th>Address</th>
          </tr>
          <% users.slice(0, limit).forEach(user => { %>
          <tr>
            <td><%= user._id %></td>
            <td>
              <img src="<%= user.picture %>" alt="" class="w-25" />
            </td>
            <td><%= user.name %></td>
            <td><%= user.gender %></td>
            <td><%= user.contact %></td>
            <td><%= user.address %></td>
          </tr>
          <% }); %>
        </table>
        <div class="">
          <button class="btn fs-5">Limit :</button>
          <button class="btn btn-primary" onclick="limit(5)">5</button>
          <button class="btn btn-primary" onclick="limit(10)">10</button>
          <button class="btn btn-primary" onclick="limit(20)">20</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    const limit = (l) => {
      location.href = "";
    };
  </script>
</body>
<%- include('./footer.ejs') -%>
